@page
@model Holaweb.App.Frontend.Pages.listasModel
@{
}
<html>

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <h1> Consulta de Animales</h1>

    <table class="table">
        <tr>
            <td><h4>Nombre del Animal</h4></td>
            <td><h4>Propietario</h4></td>
            <td><h4>Historia Clinica</h4></td>
        </tr>
        @foreach (var item in Model.mylista)
        {
            <tr>
                <td>
                    @item
                </td>
            </tr>
        }
    </table>

</body>
</html>
