@page
@model IndexModel
@{
    ViewData["Title"] = "CodificANDO - Clinica Veterinaria";
}

<div class="text-center">
    <h1 class="display-4">Sistema Clinica Veterinaria a Domicilio - CodificANDO</h1> 
    <!-- <img src="Imagenes/Portada.jpg" Alt="Portada" /> -->
</div>