@page
@model IndexModel
@{
    ViewData["Title"] = "CodificANDO - Clinica Veterinaria";
}

<div class="text-center">
    <h1 class="display-4">Sistema Clinica Veterinaria a Domicilio - CodificANDO</h1> 
    <!--- <img src="Imagenes/Portada.jpg" Alt="Portada" /> --->
    <div>
    <img src="https://blog.terranea.es/wp-content/uploads/2017/08/alimentacion-caballo.jpg" />
    </div>
    <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDK9R-Hd7AsGP--sDOXhze_Ch8oZp-uBEHxg&usqp=CAU" />
    </div>
</div>