@page
@model Holaweb.App.Frontend.Pages.listasModel
@{
}
<html>

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <h1> Programando cambios </h1>

    <table class="table">
        @foreach (var item in Model.mylista)
        {
            <tr>
                <td>
                    @item
                </td>
            </tr>
        }
    </table>

</body>

</html>
