@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <div class="text-center">
        <h1 class="display-4">¡Soy el orgulloso dueño de un caballo!</h1>
        <h2 class=<p> Estás a punto de ampliar tu conocimiento sobre el cuidado de los caballo, algo fundamental y
            comúnmente poco
            hablado con los profesionales, que impide coger experiencia y conocer los secretos para mantener una salud
            física y psíquica.</p>
            <p>¿Te lo han contado todo? ¿Sabrías escoger la embocadura ideal para tu caballo? ¿Qué tipo de cascos tiene?
                ¿Cómo
                aumentar la masa muscular del caballo? ¿Cómo adaptar la dieta a mi caballo? Cuida a tu caballo a diario
                ¿Realmente lo haces?.</p>
            <p>Descubre trucos, curiosidades, técnicas e información válida de una fuente fiable con 30 años de
                experiencia de
                manera profesional en el mundo del caballo.</p>
            <p>Estas a un clic de saber más, es un privilegio que hay que aprovechar ¡Inscribe tu caballo ya! </p>
        </h2>
    </div>
    <div align="center"><img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDK9R-Hd7AsGP--sDOXhze_Ch8oZp-uBEHxg&usqp=CAU"
            width="1200"> </div>

    <title> Formulario Registro Dueño </title>

</head>

<body>
    <section class="form-register">
        <p>

        </p>
        <center>
            <h2> Formulario Registro Dueño </h2>
        </center>
        <div class="row">

            <form class="bg-primary form-register" action="">
                <label>Cédula</label>
                <input class="form-control" type="text" name="Cédula" placeholder="">
                <label>Nombre </label>
                <input class="form-control" type="text" name="Nombre " placeholder="">
                <label>Apellidos</label>
                <input class="form-control" type="text" name="Apellidos" placeholder=""></label>
                <label>Dirección</label>
                <input class="form-control" type="text" name="Dirección" placeholder="">
                <label>Teléfono</label>
                <input class="form-control" type="text" name="Teléfono" placeholder="">
                <label>Código del Caballo</label>
                <input class="form-control" type="text" name="Código del Caballo" placeholder="">
                <label>Correo electrónico</label>
                <input class="form-control" type="text" name="Correo electrónico" placeholder="">
                <p> Estoy de acuerdo con <a href="#">Términos y Condiciones </a>
                    <input class="botons" type="submit" value="Registrar">
            </form>
        </div>
    </section>
</body>