@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <div class="text-center">
        <h1 class="display-4">¡Averigua cómo va tu Caballo!</h1>
        <h2 class=<span
            style="color: #1e1e1e; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif; font-size: 16px; white-space: pre-wrap; ">
            Un <strong>buen rendimiento deportivo del caballo</strong> va siempre de la mano de una <strong>excelente
                salud interna y externa</strong>. Además, tener un buen estado de salud global permite mejorar el
            vínculo entre el binomio y a impulsar el bienestar natural del caballo para poder alcanzar cualquier tipo de
            objetivo juntos. Todo esto se consigue gracias a unos buenos<strong> cuidados del caballo</strong> con
            productos especializados para cada necesidad. Establece rituales de cuidado que ayudarán a relajar a tu
            caballo, mejorar su salud y <strong>fortalecer vuestra relación</strong>. ¡Disfruta junto a tu caballo de su
            momento spa!</span></h2>

    </div>
    <div align="center"><img src="https://assets.epuzzle.info/puzzle/080/623/original.jpg" width="1200"> </div>

    <title> Consulta de Caballos </title>

</head>

<body>
    <section class="form-register">
        <p>

        </p>
        <center>
            <h2> Consulta de Caballos </h2>
        </center>
        <div class="row">

            <form class="bg-primary form-register" action="">
                <label>Código del Caballo</label>
                <input class="form-control" type="text" name="Código del Caballo" placeholder="">
                <label>Nombre del Caballo</label>
                <input class="form-control" type="text" name="Nombre del Caballo" placeholder="">
                <label>Color</label>
                <input class="form-control" type="text" name="Color" placeholder=""></label>
                <label>Especie</label>
                <input class="form-control" type="text" name="Especie" placeholder="">
                <label>Raza</label>
                <input class="form-control" type="text" name="Raza" placeholder="">
                <p> Estoy de acuerdo con <a href="#">Términos y Condiciones </a>
                    <input class="botons" type="submit" value="Consultar">
            </form>
        </div>
    </section>
</body>