@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <div class="text-center">
        <h1 class="display-4">¡Medico Veterinario!</h1>
        <h2 class=<p>
            <p>El equipamiento médico de MC Veterinaria nos permite llevar a cabo cirugías de campo tales como:
                castraciones, resección de tumores o masas cutáneas, lavados cavitarios, tratamiento de grandes
                hematomas o heridas complicadas.</p>
            <p>La cirugía en el campo puede llegar a conseguir resultados satisfactorios y cercanos a los obtenidos en
                condiciones hospitalarias. Siempre que se asuman requisitos como el uso de técnicas avanzadas, la
                asepsia y el control post operatorio llevados a cabo en un hospital.</p>
        </h2>
    </div>
    <div align="center"><img
            src="https://img.freepik.com/fotos-premium/sonriente-medico-veterinario-sosteniendo-estetoscopio-junto-servicios-medicos-caballos_151013-25373.jpg?w=2000"
            width="1200"> </div>

    <title> Formulario Registro de Veterinario </title>

</head>

<body>
    <section class="form-register">
        <p>

        </p>
        <center>
            <h2> Formulario Registro de Veterinario </h2>
        </center>
        <div class="row">

            <form class="bg-primary form-register" action="">
                <label>Cédula </label>
                <input class="form-control" type="text" name="Cédula" placeholder="">
                <label>Nombre </label>
                <input class="form-control" type="text" name="Nombre " placeholder="">
                <label>Apellidos</label>
                <input class="form-control" type="text" name="Apellidos" placeholder=""></label>
                <label>Dirección</label>
                <input class="form-control" type="text" name="Dirección" placeholder="">
                <label>Teléfono</label>
                <input class="form-control" type="text" name="Teléfono" placeholder="">
                <label>Código del Caballo</label>
                <input class="form-control" type="text" name="Código del Caballo" placeholder="">
                <label>Correo electrónico</label>
                <input class="form-control" type="text" name="Correo electrónico" placeholder="">
                <label>Número de Tarjeta Profesional</label>
                <input class="form-control" type="text" name="Tarjeta Profesional" placeholder="">
                <p> Estoy de acuerdo con <a href="#">Términos y Condiciones </a>
                    <input class="botons" type="submit" value="Registrar">
            </form>
        </div>
    </section>
</body>