@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <div class="text-center">
        <h1 class="display-4">¡Cuida tu caballo como un experto!</h1>
        <span
            style="color: #1e1e1e; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif; font-size: 16px; white-space: pre-wrap; ">
            <h2 class=<p> Estás a punto de ampliar tu conocimiento sobre el cuidado de los caballo, algo fundamental y comúnmente poco hablado con los profesionales, que impide coger experiencia y conocer los secretos para mantener una salud física y psíquica. ¿Te lo han contado todo? ¿Sabrías escoger la embocadura ideal para tu caballo? ¿Qué tipo de cascos tiene? ¿Cómo aumentar la masa muscular del caballo? ¿Cómo adaptar la dieta a mi caballo? Cuida a tu caballo a diario ¿Realmente lo haces?. Descubre trucos, curiosidades, técnicas e información válida de una fuente fiable con 30 años de experiencia de manera profesional en el mundo del caballo. Estas a un clic de saber más, es un privilegio que hay que aprovechar ¡Inscribe tu caballo ya! 
            </h2>
    </div>
    <div align="center"><img src="https://blog.terranea.es/wp-content/uploads/2017/08/alimentacion-caballo.jpg"
            width="1200"> </div>

    <title> Formulario Registro de Caballo </title>

</head>

<body>
    <section class="form-register">
        <p>

        </p>
        <center>
            <h2> Formulario Registro de Caballo </h2>
        </center>
        <div class="row">

            <form class="bg-primary form-register" action="">
                <label>Código del Caballo</label>
                <input class="form-control" type="text" name="Código del Caballo" placeholder="">
                <label>Nombre del Caballo</label>
                <input class="form-control" type="text" name="Nombre del Caballo" placeholder="">
                <label>Color</label>
                <input class="form-control" type="text" name="Color" placeholder=""></label>
                <label>Especie</label>
                <input class="form-control" type="text" name="Especie" placeholder="">
                <label>Raza</label>
                <input class="form-control" type="text" name="Raza" placeholder="">
                <p> Estoy de acuerdo con <a href="#">Términos y Condiciones </a>
                    <input class="botons" type="submit" value="Registrar">
            </form>
        </div>
    </section>
</body>